<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="hotelReservation">
	<test name="Create01">
		<classes>
			<class name="com.hotelreservation.testCases.TC_CreateRecord_001" />
		</classes>

	</test>
	<test name="Create02">
		<classes>
			<class name="com.hotelreservation.testCases.TC_CreateRecord_002" />
		</classes>

	</test>
	
</suite>

